.ui-dashboard .hasDatepicker {
    width: 90px !important;
}
.ui-dashboard-column:nth-child(2n) {
    width: 101px;
}

.ui-dashboard {
    position: relative;
}
.ui-dashboard-column .ui-sortable {
    position: relative;
}
.ui-dashboard-column > * {
    position: relative;
}

/*matches*/
[id*="CompetitionForm:first0"].ui-panel {
    margin-top: 40px !important;
}

[id*="CompetitionForm:first"].ui-panel {
    margin-top: 80px;
    height: 160px;
    padding: 0px;
}

[id*="CompetitionForm:other"].ui-panel {
    height: 160px;
}

[id*="CompetitionForm:other2"].ui-panel:nth-child(1) {
    margin-top: 160px !important;
}

[id*="CompetitionForm:other2"].ui-panel {
    margin-top: 324px;
    padding: 0px;
}

[id*="CompetitionForm:other3"].ui-panel:nth-child(1) {
    margin-top: 400px !important;
}

[id*="CompetitionForm:other3"].ui-panel {
    margin-top: 820px;
    padding: 0px;
}

[id*="CompetitionForm:other4"].ui-panel:nth-child(1) {
    margin-top: 880px !important;
}

[id*="CompetitionForm:other4"].ui-panel {
    margin-top: 820px;
    padding: 0px;
}

/*fillers*/

[id*="CompetitionForm:filler0"] {
    height: 120px;
    padding: 0 !important;
}
[id*="CompetitionForm:filler0"]:nth-child(1) {
    height: 120px !important;
}
[id*="CompetitionForm:filler0"]:nth-child(3n+1) {
    height: 240px;
    border: 0;
}

[id*="CompetitionForm:filler0"]:nth-child(3n+3) > div{
    position: absolute;
    width: 100px;
    background-color: #fff;
    right: 0.1px;
}

[id*="CompetitionForm:filler1"] {
    height: 240px;
    padding: 0 !important;
}

[id*="CompetitionForm:filler1"]:nth-child(1) {
    height: 240px !important;
}

[id*="CompetitionForm:filler1"]:nth-child(3n+1) {
    height: 490px;
}

[id*="CompetitionForm:filler1"]:nth-child(3n+3) > div{
    position: absolute;
    width: 100px;
    background-color: #fff;
    right: 0.1px;
}

[id*="CompetitionForm:filler2"] {
    height: 490px;
    padding: 0 !important;
}
/*[id*="CompetitionForm:filler2"]:nth-child(7n+1) {
    height: 12em;
}*/
[id*="CompetitionForm:filler2"]:nth-child(1) {
    height: 480px !important;
}

[id*="CompetitionForm:filler2"]:nth-child(3n+1) {
    height: 1000px;
}

[id*="CompetitionForm:filler2"]:nth-child(3n+3) > div{
    position: absolute;
    width: 100px;
    background-color: #fff;
    right: 0.1px;
    height: 100% !important;
}

[id*="CompetitionForm:filler"]:nth-child(3n+1) {
    border: 0;
}

[id*="CompetitionForm:filler"]:nth-child(3n+2) > div{
    height: calc(100% + 10px) !important;
    z-index: 1;
    position: absolute;
    width: 100px;
    background-color: #fff;
    right: 0px;
}


[id*="CompetitionForm:filler"]:nth-child(1) {
    border: 0 !important;
}

/* -------------------------- */
.matchWinner {
    color: green;
}

div[class*="displayCompetitorRow"]:hover {
    background-color: yellow;
}

.hoveredCompetitor {
    background-color: yellow;
}

.crown0 {
    position: absolute;
    right: -60px;
    top: 47px;
}

.crown1 {
    position: absolute;
    right: -60px;
    top: 83px;
}

.groupPanel > * {
    text-align: center;
}
.editableGroupPanel .hasDatepicker {
    width: 70% !important;
}

.dateCalendarInput > .ui-state-disabled {
    width: 170px;
}

.resultsTable {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ui-icon-gear {
    background-position: -48px -144px !important;
}

div[id$="CompetitionForm:dashboard"] .ui-sortable-handle {
    padding: 0.5em 1em 0.3em !important;
}

.loadingDialog {
    background: transparent;
    border: 0 none;
    box-shadow: 0 0 !important;
}

input[id$="scoreInput"] {
    width: 20px !important;
}