.ui-dashboard .hasDatepicker {
    width: 125px !important;
}
.ui-dashboard-column:nth-child(2n) {
    width: 101px;
}

.ui-dashboard-column {
    padding-bottom: 0px !important;
}

.ui-dashboard {
    position: relative;
}
.ui-dashboard-column .ui-sortable {
    position: relative;
}
.ui-dashboard-column > * {
    position: relative;
}

/*matches*/
[id*="CompetitionForm:first0"].ui-panel {
    margin-top: 40px !important;
}

[id*="CompetitionForm:first"].ui-panel {
    margin-top: 80px;
    height: 140px;
    padding: 0px;
}

[id*="CompetitionForm:other"].ui-panel {
    height: 140px;
}

[id*="CompetitionForm:other2"].ui-panel:nth-child(1) {
    margin-top: 160px !important;
}

[id*="CompetitionForm:other2"].ui-panel {
    margin-top: 300px;
    padding: 0px;
}

[id*="CompetitionForm:other3"].ui-panel:nth-child(1) {
    margin-top: 390px !important;
}

[id*="CompetitionForm:other3"].ui-panel {
    margin-top: 740px;
    padding: 0px;
}

[id*="CompetitionForm:other4"].ui-panel:nth-child(1) {
    margin-top: 830px !important;
}

[id*="CompetitionForm:other4"].ui-panel {
    margin-top: 820px;
    padding: 0px;
}

/*fillers*/

[id*="CompetitionForm:filler"] {
    background-color: transparent;
    background: url("/resources/img/pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0);;
}

[id*="CompetitionForm:filler0"] {
    height: 110px;
    padding: 0 !important;
}

[id*="CompetitionForm:filler0"]:nth-child(1) {
    height: 120px !important;
}

[id*="CompetitionForm:filler0"]:nth-child(3n+1) {
    height: 220px;
    border: 0;
}

[id*="CompetitionForm:filler0"]:nth-child(3n+3) > div{
    position: absolute;
    width: 100px;
    background: url("/resources/img/pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0);;
    right: 0.1px;
    top: -12.0px;
}

[id^="createCompetitionForm:filler0"]:nth-child(3n+3) > div{
    right: 0px;
}

[id*="CompetitionForm:filler1"] {
    height: 223px;
    padding: 0 !important;
}

[id*="CompetitionForm:filler1"]:nth-child(1) {
    height: 240px !important;
}

[id*="CompetitionForm:filler1"]:nth-child(3n+1) {
    height: 435px;
}

[id*="CompetitionForm:filler1"]:nth-child(3n+3) > div{
    position: absolute;
    width: 100px;
    background: url("/resources/img/pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0);;
    right: 0.1px;
    top: -19.2px;
}

[id*="CompetitionForm:filler2"] {
    height: 440px;
    padding: 0 !important;
}
/*[id*="CompetitionForm:filler2"]:nth-child(7n+1) {
    height: 12em;
}*/
[id*="CompetitionForm:filler2"]:nth-child(1) {
    height: 470px !important;
}

[id*="CompetitionForm:filler2"]:nth-child(3n+1) {
    height: 1000px;
}

[id*="CompetitionForm:filler2"]:nth-child(3n+3) > div{
    position: absolute;
    width: 100px;
    background: url("/resources/img/pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0);;
    right: 0px;
    top: -1.0px;
    height: 100% !important;
}

[id*="CompetitionForm:filler"]:nth-child(3n+1) {
    border: 0;
}

[id*="CompetitionForm:filler"]:nth-child(3n+2) > div{
    height: calc(100% + 10px) !important;
    z-index: 1;
    position: absolute;
    width: 100px;
    background: url("/resources/img/pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0);;
    right: 0px;
}


[id*="CompetitionForm:filler"]:nth-child(1) {
    border: 0 !important;
}

/* -------------------------- */
.matchWinner > label[id*="displayCompetitionForm"] {
    color: green !important;
}

div[class*="displayCompetitorRow"]:hover {
    background-color: yellow;
}

.hoveredCompetitor {
    background-color: #800000;
}

.crown0 {
    position: absolute;
    right: -60px;
    top: 27px;
}

.crown1 {
    position: absolute;
    right: -60px;
    top: 67px;
}

.ui-wizard-content {
    overflow: auto;
}

.dashboard {
    margin-left: 50px;
}

.groupsHolder {
    text-align: center;
}

.groupPanel {
    display: inline-block !important;
    margin-left: 10px;
    margin-right: 10px;
}

.groupPanel * {
    text-align: center;
}

.groupPanel .ui-panel-title {
    margin-right: 0 !important;
}

.editableGroupPanel .hasDatepicker {
    width: 70% !important;
}

.dateCalendarInput > .ui-state-disabled {
    width: 170px;
}

.resultsTable {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.ui-icon-gear {
    background-position: -48px -144px !important;
}

div[id$="CompetitionForm:dashboard"] .ui-sortable-handle {
    padding: 0.5em 1em 0.3em !important;
}

.loadingIcon {
    position: fixed;
    top: 5px;
    right: 25px;
    z-index: 999999;
}

input[id$="scoreInput"] {
    width: 20px !important;
}

.ui-picklist-list {
    width: auto !important;
}

form > div[id*="CompetitionForm"] {
    background: url("/resources/img/pattern.png") repeat scroll 0 0 rgba(0, 0, 0, 0);;
}

.groupDialog {
    width: 380px !important;
}
.groupDialog .ui-dialog-content {
    overflow: hidden !important;
}

.groupDialog .ui-dialog-title {
    float: none !important;
}

.createCompetitionButtonWrapper {
    clear: both;
    float: right;
    text-align: center;
    width: 100% !important;
}

#msgs_container {
    left: 40% !important;
    top: 40% !important;
}

.firstStepWizard, .middleTableWrapper, .ui-datatable table {
    margin: auto;
}

.ui-wizard-step-titles {
    width: 30%; 
    margin: auto !important;
}

div[id*="displayCompetitionForm\:first"], div[id*="displayCompetitionForm\:other"] {
    width: 200px !important;
}

div[id*="displayCompetitionForm\:first"] > div.ui-widget-header, div[id*="displayCompetitionForm\:other"] > div.ui-widget-header {
    width: 198px !important;
}

.scoreInplace {
    float: right;
    padding-right: 10px;
}

.dashboardForm {
    overflow: auto;
}

.underDashboardContent {
    float: right;
    width: 100% !important;
    margin-top: 10px;
    padding-left: 50px;
}

.dashboardFulForm {
    overflow-x: auto;
    overflow-y: hidden;
}