.badge {
    background-color: red !important;
    padding: 1px 4px !important;
}

.inbox-badge {
    position: absolute;
    top: -10px;
    left: 10px;
}

.inbox-group {
    position: relative;
    padding: 0 !important;
}

#logoutForm {
    margin-left: 10px;
}

.inbox-block, .download-block {
    color: white !important;
    background-color: #333;
    position: fixed;
    display: none;
    width: 250px;
    height: 300px;
    z-index: 9999;
    box-shadow: 0 0 15px 5px #333;
    overflow: auto;
    margin-top: 2px;
    cursor: default;
}

button.inbox-close {
    display: inline-block;
    background: transparent;
    width: 1.5em;
    position: absolute;
    right: 0;
}

.inbox-header {
    text-align: center;
    border-bottom: 2px solid #262626;
}

.inbox-event {
    display: block;
    position: relative;
}

label.inbox-event-date {
    margin-left: 3px;
}

.inbox-event-content, .inbox-event-content-unread {
    border-bottom: 2px dashed #262626;
    clear: both;
    font-size: 0.85em !important;
}

.inbox-event-content-unread {
    background-color: #404040 !important;
}

.inbox-title {
    font-weight: bold !important;
}

.inbox-date-bar {
    text-align: right;
}

.inbox-event-data, .inbox-event-data > label {
    cursor: pointer;
    text-align: left;
}